body {
    margin: 0;
    padding: 13px 0;
    font-family: georgia, "times new roman", times, serif;
    font-size: 62.5%; /* 10px */
    line-height: 1.5em; /* 15px */
    color: #333;
    background-color: #fff;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    color: #000;
}

p,ul,ol,dl,dd {
    margin: 0 0 1em 0;
}

h1 {
    font-size: 2.4em;
    line-height: 1.083em; /* 26px */
}

h2 {
    font-size: 2em;
    line-height: 1.1em; /* 22px */
}

h3 {
    font-size: 1.5em;
    line-height: 1.133em; /* 17px */
}

h4 {
    font-size: 1.4em;
    line-height: 1.1429em; /* 16px */
}

h5, h6 {
    font-size: 1.2em;
    line-height: 1.25em; /* 15px */
}

h6 {
    font-weight: normal;
}

p,li,dt,dd {
    font-size: 1.2em;
    line-height: 1.25em; /* 15px */
}

ul li *,
li li {
    font-size: 1em;
}

blockquote {
    margin: 0 24px;
}

ul {
    list-style: none;
    padding-left: 0;
}

ol {
    padding-left: 0;
    margin-left: 18px;
}

ul li {
    background: no-repeat left 0.45em;
    padding: 0 0 0 8px;
}

ul.multiline li {
    margin-bottom: 1em;
}

ul.meta li {
    font-size: 1.1em;
}

dt {
    float: left;
}

/* html5 elements display */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

a {
    color: #004276;
    text-decoration: none;
}

a:visited {
    color: #666699;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
}

.image a {
    display: block;
}

/* forms */

form,
label,
fieldset {
    margin: 0;
    padding: 0;
}

fieldset {
    border: none;
}

label {
    display: block;
}

input,
label,
textarea,
select {
    font-size: 1.1em;
    color: #000;
}

input {
    vertical-align: middle;
}

/* BEGIN Generic*/

/* Last Child Zero Bottom Margin */

.kicker a,
.moduleHeader a,
.moduleHeaderBd a,
.moduleHeaderLg a,
.sectionHeader a,
.sectionHeaderHome a {
    color: #000;
}

/* classes handling red text */

.refer li {
    margin-bottom: 2px;
}

.flush li { /* is a reset for the default 4x4 icon li */
    background: none;
    padding: 0;
}

.wideThumb img {
    display: block;
}

/* END Generic */

/* BEGIN media overlay */

